<!DOCTYPE html>

<head>
     <link rel="stylesheet" href="/static/css/design.css">
    <title>Add Rewards</title>
</head>

<body>

    <div class="topNavigation">
        <a href="./index.html">Index</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/games">Games</a>
        <a href="/consoles">Consoles</a>
        <a href="/stores">Stores</a>
        <a class = "on" href="/rewards">Rewards</a>
    </div>

    <br />
    <br />
    <br />

    <h2>Add rewards</h2>
    <form action="/addRewards" method="POST">

        <table>
            <thead>
                <tr>
                    <th><label>Customer* :</label>
                        <select name ='customers' required>
                        {{#each customers}}
                        <option value={{customer_id}}>{{customer_first_name}} {{customer_last_name}}</option>
                        {{/each}}
                         </select>
                </th>
                    <th><label>Reward Points:</label>
                        <input type="number" name="rewards_points">
                   </th>
                    <th><label>Order ID* : </label>
                        <select name ='orders' required>
                        {{#each orders}}
                        <option value={{order_id}}>{{order_id}}</option>
                        {{/each}}
                         </select>
                    </th>
                    <th><label>Redeemed Item: </label>
                        <input type="text" name="redeemed_item">
                   </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br>
        <button type='submit'>Submit</button>
    </form>
</body>
</html>