<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/css/design.css">

    <title>Inventory of Games</title>

</head>

<body>

    <div class="topNavigation">
        <a href="/index.html">Index</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/games">Games</a>
        <a href="/consoles">Consoles</a>
        <a class ="on" href="/stores">Stores</a>
        <a href="/rewards">Rewards</a>
    </div>

    <br />
    <br />
    <br />

    <h2>Search</h2>
    <p>Search for the inventory of games using the game_title</p>


    <fieldset>
    <form id ="search_stores_and_games" action="" method="">
          <label>Game Title: </label>
              <input id='game_title_for_store_search_string' type='text' name='game_title_for_store_search_string' value='' size="30" maxlength="100">  
          <input type="button" value="Search" onclick="searchStoresAndGamesByGameTitle()">
          <br />
  </form>
  </fieldset>
  <br />

  <h2>Add inventory for Games</h2>
    <form action="/stores/storesAndGames" method="POST">

      <table>
          <thead>
              <tr>
                  <th><label>Store:  </label><select name ='stores'>
            {{#each stores}}
            <option value={{store_id}}>{{store_city}}</option>
            {{/each}}
            </select>
                  </th>
                  <th><label>Game Title:  </label><select name ='games'>
            {{#each games}}
            <option value='{{game_title}}'>{{game_title}}</option>
            {{/each}}
            </select>
                 </th>
                  <th><label>Quantity of Game at Store* :
                      <input type="number" name="quantity_of_game_at_store" required>
                  </label></th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
      <br>
      <button type='submit'>Add inventory</button>
  </form>

  <br />
  <br />

<h2>Inventory of Games Based on Stores</h2>

<table>
    <thead>
      <tr>
        <th>Store ID</th>
        <th>Game Tite</th>
        <th>Quantity of Game at Store</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        {{#each storesAndGames}} 
        <tr> 
            <td>{{store_id}}</td> 
            <td>{{game_title}}</td> 
            <td>{{quantity_of_game_at_store}}</td> 
            <td><form action="./updateInventoryOfGames.html" method="POST">
            <button name="updateGames" type="submit"> Update</button></form></td>
            <td><button onclick= "deleteStoresAndGames({{store_id}},'{{game_title}}')">Delete</button></td>
      </tr>
      {{/each}}     
    </tbody>
  </table>

</body>

</html>