<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/css/design.css">

    <title>Update Games and Consoles</title>

</head>

<body>

    <div class="topNavigation">
        <a href="/index.html">Index</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a class ="on" href="/games">Games</a>
        <a href="/consoles">Consoles</a>
        <a href="/stores">Stores</a>
        <a href="/rewards">Rewards</a>
    </div>

<br />
<br />
<br />


<h2>Update {{singleGameAndConsoleRel.game_title}}:</h2>

<p>If left unchanged, the existing value will be used.</p>

    <form id = "update-Games-And-Consoles" action="/gamesAndConsoles" method="POST">

        <table>
            <thead>
              <tr>
                <th><label>Console:  </label>
                    <select name ='console_id' id = "console-selector">
                    {{#each consoles}}
                    <option value={{cid}}>{{console_main_name}}</option>
                    {{/each}}
                    </select>
                </th>
                <th><label>Game title:  </label>
                    <select name ='game_title' id = "game-selector">
                    {{#each games}}
                    <option value='{{game_title}}'>{{game_title}}</option>
                    {{/each}}
                </th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
  <br />
  </form>
    <button onclick ="updateGamesAndConsoles({{singleGameAndConsoleRel.console_id}},'{{singleGameAndConsoleRel.game_title}}')">Submit Changes</button>
    <script defer>selectConsole({{singleGameAndConsoleRel.console_id}});</script>
    <script defer>selectGame('{{singleGameAndConsoleRel.game_title}}');</script>


</body>

</html>